*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
  }
  header {
    text-align: center;
    background-color:darkcyan ;
    padding-bottom: 1px;
  }

  #header {
    background-color: white;
    box-sizing: border-box;
    text-align: center;
    line-height: 20px;
    margin: 10px 0 10px 0;
    padding-top: 10px;
    border-bottom: 6px double darkcyan;
  }

  h1 {
    margin: 0px 0 20px 0;
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 23px;
  }
  h2 {
    font-size: 21px;
  }

  legend {
    font-size: 21px;
    margin-bottom: 10px;
    font-weight: 800 ;
  }

  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
    margin: 0 0 8px 0;
  }
  
  #fieldset1 {
    margin-top: 30px;
    border-bottom: 2px solid darkcyan;
  }

  p {
    color: #8a97a0;
    text-align: center;
    font-size: 16px;
  }

  form {
    max-width: 310px;
    margin: 10px auto;
    padding: 10px 20px;
    background: white;
    border-radius: 8px;
    line-height: 25px;
  }
  
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  :focus {
    outline: 3px solid seagreen;
    border-radius: 5px;
    transition: 0.28s;
    
  }
  
  input[placeholder] {
    text-align: right;
    font-style: italic;
    color:#8a97a0;
    font-size: 12px;
  }

  textarea {
    height: 100px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 5px 10px 10px 0;
    cursor: pointer;
  }
  
  #zip {
    padding: 15px;
    height: 50px;
    width: 50%;
    border-radius: 5px;
  }

  #fieldset2 {
    /* border-top: 2px solid darkcyan; */
    box-sizing: unset;
  }
  #fieldset2::first-line {
    font-size: .80em;
    text-align: left;
  }

  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #8a97a0;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  .copyright {
    font-style: italic;
    font-size: 14px;
  }

  label + input {
    margin-bottom: 5px;
  }
  input[type="checkbox"] > label {
    margin-bottom: 5px;
  }

  .news {
    margin-bottom: 12px;
  }

  #comments {
    margin-bottom: 0%;
  }

  #button {
    margin-bottom: 0%;
  }
  footer {
    margin-bottom: 250px;
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
  
    form {
      max-width: 620px;
    }
    div[id=fieldset1] {
      display: flex;
      flex-wrap: wrap;
      
    }
    .container {
      flex-direction: row;
      justify-content:space-between;
    }

    .container label {
       flex-basis: 12rem; 
       flex-grow: 0;
       flex-shrink: 0;    
    }

    .container, .zip {
      justify-content: flex-start;
    }
    #zip {
      width: 25%;
    }
    
  }
  